
# dependencies
node_modules
/.pnp
.pnp.js
/backend/config/config.env

# package-lock
package-lock.json


# production
/frontend/build

# misc
/config/*
.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock


.eslintcache